header {
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  box-shadow: 3px 8px 8px #999;
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(13, 132, 212);
}

nav {
  display: flex;
  gap: 2rem;
  margin-right: 50%;
}

.navItem {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
}

.navItem:hover,
.navItem:focus {
  color: gray;
}

.bookContainer {
  list-style: none;
  margin-bottom: 1.2rem;
  padding: 1rem;
  border: 1px solid rgb(235, 221, 221);
}

.bookContainer > small {
  color: #999;
  font-weight: 800;
}

.bookContainer > h2 {
  margin: 2px;
}

.bookContainer p {
  margin-top: 2px;
  color: blue;
}

.callContainer {
  display: flex;
  gap: 1rem;
}

.callContainer > button {
  padding: 0.6rem;
  border: none;
  color: blue;
}

.input {
  margin: 2rem;
  padding: 2rem;
}

.input > h1 {
  color: #999;
}

form {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.2fr;
  gap: 1rem;
  width: 80%;
}

input {
  padding: 0.8rem;
}

.input > button {
  padding: 0.8rem;
}

.addBtn {
  color: #fff;
  font-weight: 600;
  background: rgb(13, 132, 212);
  border: none;
}
